#cart {
    .product-list {
        padding: 5rem 0;
        h1 {
            font-size: 1.5rem;
            letter-spacing: 2.58px;
            color: #585858;
            margin-bottom: 2rem;
            font-weight: 600;
            margin-left: 0.875rem;
        }
        .table-list {
            background-color: #F8F8F8;
            padding: 2rem 0;
            table {
                thead {
                    th {
                        border: none;
                    }
                }
                tbody {
                    tr {
                        th {
                            width: 40%;
                        }
                    }
                }
                .counter-wrapper {
                    width: 30%;
                    margin: 0 auto;
                    input {
                        border: none;
                        width: 30px;
                        text-align: center;
                    }
                    span {
                        cursor: pointer;
                    }
                }
                .product-detail-list {
                    align-items: end;
                    img {
                        object-fit: contain;
                        height: 100%;
                        width: 90px;
                    }
                    h3,
                    h4 {
                        font-weight: 500;
                        font-size: 1rem;
                        margin-bottom: 8px;
                    }
                    span,
                    label {
                        font-size: 12px;
                        opacity: .5;
                        font-weight: 200;
                    }
                }
            }
        }
        .product-total {
            margin-top: 3rem;
            h2 {
                font-size: 1rem;
                text-align: center;
                font-weight: 600;
            }
            hr {
                margin: 8px 0;
            }
            span {
                font-size: 0.875rem;
                font-weight: 600;
            }
            h5 {
                font-size: 0.875rem;
                text-align: center;
                font-weight: 500;
            }
            button {
                width: 47%;
                border-radius: 0;
                cursor: pointer;
            }
            .cont-shop-btn {
                border: 1px solid #585858;
                background-color: #fff;
                color: #393939;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
}

#checkout {
    background-color: #F8F8F8;
    .checkout-container {
        padding: 5rem 0;
        h1 {
            font-size: 1.5rem;
            letter-spacing: 2.58px;
            color: #585858;
            margin-bottom: 2rem;
            font-weight: 600;
            margin-left: 0.875rem;
        }
        .table-list {
            padding: 1rem 0;
            background-color: #fff;
            height: 100%;
            table {
                thead {
                    th {
                        border: none;
                    }
                }
                tbody {
                    tr {
                        th {
                            width: 40%;
                        }
                    }
                }
                .counter-wrapper {
                    width: 50%;
                    margin: 0 auto;
                    input {
                        border: none;
                        width: 30px;
                        text-align: center;
                        background-color: #fff;
                    }
                    span {
                        cursor: pointer;
                    }
                }
                .product-detail-list {
                    align-items: end;
                    img {
                        object-fit: contain;
                        height: 100%;
                        width: 90px;
                    }
                    h3,
                    h4 {
                        font-weight: 500;
                        font-size: 1rem;
                        margin-bottom: 8px;
                    }
                    span,
                    label {
                        font-size: 12px;
                        opacity: .5;
                        font-weight: 200;
                    }
                }
            }
        }
        .checkout-wrapper {
            padding: 1.65rem;
            background-color: #fff;
            h6,
            h5,
            h3 {
                margin-bottom: 0;
                font-weight: 600;
                font-size: 1rem;
                div {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
            select {
                font-size: 0.875rem;
                font-weight: 500;
                color: #585858;
                opacity: 0.7;
                &:focus {
                    box-shadow: none;
                    border: 1px solid #cdcbcb;
                }
            }
            h3 {
                color: green;
            }
            .promocode-wrapper {
                border: 1px solid #DFDFDF;
                border-radius: 0.25rem;
                input {
                    border: none;
                    font-size: 0.875rem;
                    font-weight: 600;
                    &:focus {
                        box-shadow: none;
                        border: none;
                    }
                }
                button {
                    background-color: #fff;
                    font-weight: 500;
                    color: #585858;
                    font-size: 0.875rem;
                    padding: 0 1.5rem;
                    border-top: 0;
                    border-bottom: 0;
                    border-right: 0;
                    border-left: 1px solid #DFDFDF;
                    cursor: pointer;
                    margin: 0.3rem 0;
                    &:focus {
                        outline: none;
                    }
                }
            }
            a,
            .btn-link {
                font-size: 0.875rem;
                font-weight: 500;
                color: #548F8F;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
            p {
                margin-bottom: 0;
                font-size: 0.875rem;
                font-weight: 500;
                color: #585858;
                opacity: 0.7;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
        position: relative;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        display: block;
        margin-bottom: .625em;
    }
    table td {
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}