html {
    body {
        font-family: 'Poppins', sans-serif;
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        header {
            .login-section {
                padding: 10px 0 8px;
                a {
                    color: #000;
                    font-weight: 500;
                    font-size: 0.75rem;
                    &:hover {
                        text-decoration: none;
                    }
                }
                span {
                    font-weight: 500;
                    font-size: 0.75rem;
                }
            }
            #check,
            .navbar__hamburger-btn {
                display: none;
            }
            .menu-section {
                ul {
                    padding: 0;
                    list-style: none;
                    margin: 1rem 0;
                    li {
                        font-size: 0.875rem;
                        font-weight: 600;
                        .active {
                            color: #548F8F;
                        }
                        a {
                            &:hover {
                                color: #548F8F;
                            }
                        }
                    }
                }
            }
        }
        main {
            min-height: calc( 100vh - 157px);
        }
        .top-banner {
            .add-ons-wrapper {
                background-color: #548F8F;
                padding: 10px 0px;
                font-size: 0.75rem;
                color: #fff;
                span {
                    margin-left: 5px;
                }
            }
        }
        .stone-btn {
            background-color: #548F8F;
            color: #fff;
            text-transform: uppercase;
            padding: 7px 20px;
            font-weight: 500;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
        footer {
            padding: 1.25rem 2.5rem;
            background-color: #000;
            font-size: 1rem;
            color: #fff;
            ul {
                padding: 0;
                list-style: none;
                margin: 0;
                font-weight: 400;
                li {
                    a {
                        font-size: 0.875rem;
                        color: #fff;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
            h5 {
                margin: 0;
                font-size: 0.875rem;
                font-weight: 400;
            }
        }
    }
}