#products-page {
    .product-wrapper {
        position: relative;
        padding: 7rem 0 9.5rem;
        background-color: #F8F8F8;
        .product-left-filter {
            min-height: 670px;
            .card {
                .card-header {
                    border-bottom: none;
                    background-color: transparent;
                    h2 {
                        button {
                            color: #000;
                            font-weight: 600;
                            text-decoration: none;
                            font-size: 1rem;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                    button {
                        &::after {
                            content: "\f107";
                            color: #000;
                            top: 20px;
                            right: 40px;
                            font-size: 1rem;
                            position: absolute;
                            font-family: "FontAwesome";
                            transition: all 0.5s;
                        }
                        &[aria-expanded="true"]::after {
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }
                    }
                }
                .card-body {
                    min-height: 369px;
                    padding: 0 1rem;
                    .nav-link {
                        padding-bottom: 1rem;
                        position: relative;
                        font-size: 0.875rem;
                        &:hover {
                            transition: 0.3s all;
                            position: relative;
                            color: #548F8F;
                        }
                        &.active {
                            background-color: transparent;
                            color: #548F8F;
                            font-weight: 400;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .product-detail-inner {
            background-color: #fff;
            border: 1px solid #E6E6E6;
            img {
                object-fit: cover;
                width: 100%;
                height: 180px;
            }
            .product-content {
                padding: 1rem 0 0;
                h3 {
                    padding: 0 1rem;
                    font-size: 1rem;
                    color: #707070;
                    font-weight: 500
                }
                span {
                    padding: 0 1rem;
                    color: #707070;
                    opacity: 0.8;
                    font-size: 0.875rem;
                    font-weight: 400;
                }
                label {
                    padding: 0 1rem;
                    color: #373636;
                    opacity: 0.8;
                    font-size: 0.875rem;
                    font-weight: 700;
                    margin-top: 5px;
                }
                button {
                    background-color: #fff;
                    border: none;
                    width: 100%;
                    border-top: 1px solid #E6E6E6;
                    padding: 0;
                    a {
                        padding: 0.875rem 1rem;
                        font-size: 0.875rem;
                        color: #595856;
                        font-weight: 500;
                        display: block;
                        width: 100%;
                        transition: 0.5s all;
                        &:hover {
                            background-color: #548F8F;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .pagination-wrapper {
            position: absolute;
            bottom: -80px;
            left: 0;
            right: 0;
            .page-link {
                background-color: transparent;
                border: none;
                font-size: 1rem;
                font-weight: 600;
                color: #BBB;
                text-transform: uppercase;
                &.active {
                    color: #000;
                }
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
    hr {
        margin: 0;
    }
}