html body {
  font-family: 'Poppins', sans-serif;
}

html body a {
  color: #000;
  text-decoration: none;
}

html body a:hover {
  text-decoration: none;
}

html body header .login-section {
  padding: 10px 0 8px;
}

html body header .login-section a {
  color: #000;
  font-weight: 500;
  font-size: 0.75rem;
}

html body header .login-section a:hover {
  text-decoration: none;
}

html body header .login-section span {
  font-weight: 500;
  font-size: 0.75rem;
}

html body header #check,
html body header .navbar__hamburger-btn {
  display: none;
}

html body header .menu-section ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0;
}

html body header .menu-section ul li {
  font-size: 0.875rem;
  font-weight: 600;
}

html body header .menu-section ul li .active {
  color: #548F8F;
}

html body header .menu-section ul li a:hover {
  color: #548F8F;
}

html body main {
  min-height: calc( 100vh - 157px);
}

html body .top-banner .add-ons-wrapper {
  background-color: #548F8F;
  padding: 10px 0px;
  font-size: 0.75rem;
  color: #fff;
}

html body .top-banner .add-ons-wrapper span {
  margin-left: 5px;
}

html body .stone-btn {
  background-color: #548F8F;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 20px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

html body .stone-btn:focus {
  outline: none;
}

html body footer {
  padding: 1.25rem 2.5rem;
  background-color: #000;
  font-size: 1rem;
  color: #fff;
}

html body footer ul {
  padding: 0;
  list-style: none;
  margin: 0;
  font-weight: 400;
}

html body footer ul li a {
  font-size: 0.875rem;
  color: #fff;
}

html body footer ul li a:hover {
  color: #fff;
}

html body footer h5 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
}

#products-page .product-wrapper {
  position: relative;
  padding: 7rem 0 9.5rem;
  background-color: #F8F8F8;
}

#products-page .product-wrapper .product-left-filter {
  min-height: 670px;
}

#products-page .product-wrapper .product-left-filter .card .card-header {
  border-bottom: none;
  background-color: transparent;
}

#products-page .product-wrapper .product-left-filter .card .card-header h2 button {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
}

#products-page .product-wrapper .product-left-filter .card .card-header h2 button:hover {
  text-decoration: none;
}

#products-page .product-wrapper .product-left-filter .card .card-header button::after {
  content: "\f107";
  color: #000;
  top: 20px;
  right: 40px;
  font-size: 1rem;
  position: absolute;
  font-family: "FontAwesome";
  transition: all 0.5s;
}

#products-page .product-wrapper .product-left-filter .card .card-header button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

#products-page .product-wrapper .product-left-filter .card .card-body {
  min-height: 369px;
  padding: 0 1rem;
}

#products-page .product-wrapper .product-left-filter .card .card-body .nav-link {
  padding-bottom: 1rem;
  position: relative;
  font-size: 0.875rem;
}

#products-page .product-wrapper .product-left-filter .card .card-body .nav-link:hover {
  transition: 0.3s all;
  position: relative;
  color: #548F8F;
}

#products-page .product-wrapper .product-left-filter .card .card-body .nav-link.active {
  background-color: transparent;
  color: #548F8F;
  font-weight: 400;
  font-weight: 500;
}

#products-page .product-wrapper .product-detail-inner {
  background-color: #fff;
  border: 1px solid #E6E6E6;
}

#products-page .product-wrapper .product-detail-inner img {
  object-fit: cover;
  width: 100%;
  height: 180px;
}

#products-page .product-wrapper .product-detail-inner .product-content {
  padding: 1rem 0 0;
}

#products-page .product-wrapper .product-detail-inner .product-content h3 {
  padding: 0 1rem;
  font-size: 1rem;
  color: #707070;
  font-weight: 500;
}

#products-page .product-wrapper .product-detail-inner .product-content span {
  padding: 0 1rem;
  color: #707070;
  opacity: 0.8;
  font-size: 0.875rem;
  font-weight: 400;
}

#products-page .product-wrapper .product-detail-inner .product-content label {
  padding: 0 1rem;
  color: #373636;
  opacity: 0.8;
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 5px;
}

#products-page .product-wrapper .product-detail-inner .product-content button {
  background-color: #fff;
  border: none;
  width: 100%;
  border-top: 1px solid #E6E6E6;
  padding: 0;
}

#products-page .product-wrapper .product-detail-inner .product-content button a {
  padding: 0.875rem 1rem;
  font-size: 0.875rem;
  color: #595856;
  font-weight: 500;
  display: block;
  width: 100%;
  transition: 0.5s all;
}

#products-page .product-wrapper .product-detail-inner .product-content button a:hover {
  background-color: #548F8F;
  color: #fff;
}

#products-page .product-wrapper .pagination-wrapper {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
}

#products-page .product-wrapper .pagination-wrapper .page-link {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #BBB;
  text-transform: uppercase;
}

#products-page .product-wrapper .pagination-wrapper .page-link.active {
  color: #000;
}

#products-page .product-wrapper .pagination-wrapper .page-link:focus {
  box-shadow: none;
}

#products-page hr {
  margin: 0;
}

#cart .product-list {
  padding: 5rem 0;
}

#cart .product-list h1 {
  font-size: 1.5rem;
  letter-spacing: 2.58px;
  color: #585858;
  margin-bottom: 2rem;
  font-weight: 600;
  margin-left: 0.875rem;
}

#cart .product-list .table-list {
  background-color: #F8F8F8;
  padding: 2rem 0;
}

#cart .product-list .table-list table thead th {
  border: none;
}

#cart .product-list .table-list table tbody tr th {
  width: 40%;
}

#cart .product-list .table-list table .counter-wrapper {
  width: 30%;
  margin: 0 auto;
}

#cart .product-list .table-list table .counter-wrapper input {
  border: none;
  width: 30px;
  text-align: center;
}

#cart .product-list .table-list table .counter-wrapper span {
  cursor: pointer;
}

#cart .product-list .table-list table .product-detail-list {
  align-items: end;
}

#cart .product-list .table-list table .product-detail-list img {
  object-fit: contain;
  height: 100%;
  width: 90px;
}

#cart .product-list .table-list table .product-detail-list h3,
#cart .product-list .table-list table .product-detail-list h4 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 8px;
}

#cart .product-list .table-list table .product-detail-list span,
#cart .product-list .table-list table .product-detail-list label {
  font-size: 12px;
  opacity: .5;
  font-weight: 200;
}

#cart .product-list .product-total {
  margin-top: 3rem;
}

#cart .product-list .product-total h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}

#cart .product-list .product-total hr {
  margin: 8px 0;
}

#cart .product-list .product-total span {
  font-size: 0.875rem;
  font-weight: 600;
}

#cart .product-list .product-total h5 {
  font-size: 0.875rem;
  text-align: center;
  font-weight: 500;
}

#cart .product-list .product-total button {
  width: 47%;
  border-radius: 0;
  cursor: pointer;
}

#cart .product-list .product-total .cont-shop-btn {
  border: 1px solid #585858;
  background-color: #fff;
  color: #393939;
  font-weight: 600;
  text-transform: uppercase;
}

#checkout {
  background-color: #F8F8F8;
}

#checkout .checkout-container {
  padding: 5rem 0;
}

#checkout .checkout-container h1 {
  font-size: 1.5rem;
  letter-spacing: 2.58px;
  color: #585858;
  margin-bottom: 2rem;
  font-weight: 600;
  margin-left: 0.875rem;
}

#checkout .checkout-container .table-list {
  padding: 1rem 0;
  background-color: #fff;
  height: 100%;
}

#checkout .checkout-container .table-list table thead th {
  border: none;
}

#checkout .checkout-container .table-list table tbody tr th {
  width: 40%;
}

#checkout .checkout-container .table-list table .counter-wrapper {
  width: 50%;
  margin: 0 auto;
}

#checkout .checkout-container .table-list table .counter-wrapper input {
  border: none;
  width: 30px;
  text-align: center;
  background-color: #fff;
}

#checkout .checkout-container .table-list table .counter-wrapper span {
  cursor: pointer;
}

#checkout .checkout-container .table-list table .product-detail-list {
  align-items: end;
}

#checkout .checkout-container .table-list table .product-detail-list img {
  object-fit: contain;
  height: 100%;
  width: 90px;
}

#checkout .checkout-container .table-list table .product-detail-list h3,
#checkout .checkout-container .table-list table .product-detail-list h4 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 8px;
}

#checkout .checkout-container .table-list table .product-detail-list span,
#checkout .checkout-container .table-list table .product-detail-list label {
  font-size: 12px;
  opacity: .5;
  font-weight: 200;
}

#checkout .checkout-container .checkout-wrapper {
  padding: 1.65rem;
  background-color: #fff;
}

#checkout .checkout-container .checkout-wrapper h6,
#checkout .checkout-container .checkout-wrapper h5,
#checkout .checkout-container .checkout-wrapper h3 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1rem;
}

#checkout .checkout-container .checkout-wrapper h6 div,
#checkout .checkout-container .checkout-wrapper h5 div,
#checkout .checkout-container .checkout-wrapper h3 div {
  font-size: 1rem;
  font-weight: 600;
}

#checkout .checkout-container .checkout-wrapper select {
  font-size: 0.875rem;
  font-weight: 500;
  color: #585858;
  opacity: 0.7;
}

#checkout .checkout-container .checkout-wrapper select:focus {
  box-shadow: none;
  border: 1px solid #cdcbcb;
}

#checkout .checkout-container .checkout-wrapper h3 {
  color: green;
}

#checkout .checkout-container .checkout-wrapper .promocode-wrapper {
  border: 1px solid #DFDFDF;
  border-radius: 0.25rem;
}

#checkout .checkout-container .checkout-wrapper .promocode-wrapper input {
  border: none;
  font-size: 0.875rem;
  font-weight: 600;
}

#checkout .checkout-container .checkout-wrapper .promocode-wrapper input:focus {
  box-shadow: none;
  border: none;
}

#checkout .checkout-container .checkout-wrapper .promocode-wrapper button {
  background-color: #fff;
  font-weight: 500;
  color: #585858;
  font-size: 0.875rem;
  padding: 0 1.5rem;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid #DFDFDF;
  cursor: pointer;
  margin: 0.3rem 0;
}

#checkout .checkout-container .checkout-wrapper .promocode-wrapper button:focus {
  outline: none;
}

#checkout .checkout-container .checkout-wrapper a,
#checkout .checkout-container .checkout-wrapper .btn-link {
  font-size: 0.875rem;
  font-weight: 500;
  color: #548F8F;
  text-decoration: none;
}

#checkout .checkout-container .checkout-wrapper a:hover,
#checkout .checkout-container .checkout-wrapper .btn-link:hover {
  text-decoration: none;
}

#checkout .checkout-container .checkout-wrapper p {
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: #585858;
  opacity: 0.7;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    position: relative;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    margin-bottom: .625em;
  }
  table td {
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
